
@{
    ViewData["Title"] = "NasilKullanilir";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center>
    <div class="col-md-8">
        <center>
            <h2 class="text-center">Nasıl Kullanılır</h2>
            <hr />

            <div class="card">
                <div class="card-body">
                    Site Ayarlarını Düzenleme<hr />
                    Site Ayarlarını Düzenlemek İçin 'Ayarlar' Sayfasına Gidin.<br />
                    En Altta Bulunan Ayarları Düzenle Butonuna Giderek Düzenleme Sayfasını Açın.<br />
                    <b>Ad Soyad: </b> Adınızı Soyadınızı Buraya Yazın...<br />
                    <b>Site Başlık: </b> Sitenin Başlığını Buraya Yazın...<br />
                    <b>Site Altbaşlık: </b> Sitenin Altbaşlığını Buraya Yazın...<br />
                    <b>Site Açıklama: </b>Açıklama Sayfasında Görülecek Olan Yazıyı Buraya Yazın...<br />
                    <b>Mail Adresi: </b> Mail Adresinizi Buraya Yazın...<br />
                    Buradaki Bilgiler Sitenizin Anasayfasında Gözükecek Olan Bilgilerdir...
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">
                    Site Kullanıcıları<hr />
                    Site Kullanıcısı Yönetim Paneline Girmek İçin Gerekli Kullanıcı Adı Ve Şifresi Olan Kullanıcıdır.<br />
                    Otomatik Olarak Site İlk Oluşturulduğu Zaman Kullanıcı Adı Admin Şifre İse 1111 Olarak Gelir.<br />
                    Güvenlik Açısından Bu Kullanıcı Adını Ve Şifreyi Güncelleyin...
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">
                    Site Mesajları<hr />
                    İletişim Bölümü Aracılığıyla Size Mesaj Gönderenler Bu Bölümde Listelenir.<br />
                    Burada Mesajları Detaylı Okuyabilir Veya Silebilirsiniz.
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">
                    Portfolyo Bölümü<hr />
                    Sitenizde Listelenen Portfolyonuzu Düzenlediğiniz Bölüm Burasıdır.<br />
                    Burada Yeni Eklemeler Yapabilir, Eklemelerinizi Güncelleyebilir Ve Silebilirsiniz.
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">
                    KurYay Nedir ?<hr />
                    Herkes İçin Açık Kaynak Kodlu, Hızlı Kuralabilen, Tamamen Ücretsiz İnternet Siteleri Üretir.<br />
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">
                    İletişim<hr />
                    Aklınıza Takılan Sorular Ve Karşılaşılabilecek Sorunlar İçin İletişim Adresi<br />
                    bkoyunberkekurnaz@hotmail.com<br />
                </div>
            </div>

            <br />

        </center>
    </div>
</center>

